In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

Importamos datasets de posos "Consolidado Diesel..."

In [2]:
# Cargar múltiples archivos CSV
folder_path = 'datos'  # Cambia por tu ruta
xlsx_files = [file for file in os.listdir(folder_path) if file.endswith('.xlsx')]

datasets = {file: pd.read_excel(os.path.join(folder_path, file)) for file in xlsx_files}

In [3]:
#Función encontrar datos nulos:
def verificacionValoresNulos(nombre, df):
    print(f"\nValores faltantes por columna en {nombre}:")
    print(df.isnull().sum())

    print(f"\nRegistros duplicados en {nombre}: {df.duplicated().sum()}")

    # Puedes descomentar las siguientes líneas para manejar nulos y duplicados:
    # df.drop_duplicates(inplace=True)
    # df.fillna(method='ffill', inplace=True)  # puedes cambiar esta estrategia

In [4]:
#Funcion para devolver el tipo de datos de cada columna:
def tipoDatos(nombre, df):
    print(f"\nTipos de datos en {nombre}:")
    print("\nTipos de datos por columna:")
    print(df.dtypes)

In [5]:
#Funcion para devolver valores unicos:
def valoresUnicos(nombre, df):
    print(f"\nValores únicos en {nombre}:")
    print("\nValores únicos por columna:")
    for col in df.columns:
        print(f"{col}: {df[col].nunique()}")

## Valores nulos

In [6]:
for nombre, df in datasets.items():
    verificacionValoresNulos(nombre, df)

Valores faltantes por columna en Consolidado Diesel 2020.xlsx:
FOLIO DORS                            0
Fuera de Procedimiento             3563
Fecha de Solicitud                 3563
Hora de Solicitud                   623
MEDIO                              3563
Fecha de Servicio                     0
Hora requerida                        0
Solicita                              1
Segm.                                 0
Celda                                 0
Destino/Pozo                          0
Lts. Solicitados                      0
Economico                             0
Tipo de Unidad                       12
Clasificacion (Vehiculo/Equipo)      49
Tipo de medida Km/Hr                828
Recibe en Pozo/usuario                1
Autorizante                           0
STATUS                                0
Zona                               3563
Ruta                               4075
Proveedor                          3566
Eco Unidad Proveedor               4081
Operador                           4081
HR                                 6474
KM                                 6673
HR Llegada a Pozo                   526
Tiempo de Retraso                   530
Cant. Sum.                            0
PRECIO POR LT                         0
COSTO DE SUMINISTRO                   0
Gin Number                         4130
Recibe en Pozo/usuario.1           4132
TICKET                             4124
FLETE                              3570
KM RECORRIDO                        501
FLETE / MANIOBRA                      0
COSTO TOTAL                           0
CONCILIADO                         3565
COORDINADOR                         501
COMENTARIOS                        6166
PERIODO                               0
Q                                     0
LOCATION                              0
SITE                                  0
dtype: int64

Registros duplicados en Consolidado Diesel 2020.xlsx: 9

Valores faltantes por columna en Consolidado Diesel 2021.xlsx:
FOLIO DORS                            0
Fuera de Tiempo                    3093
Fecha de Solicitud                 3093
Hora de Solicitud                     0
MEDIO                              3093
Fecha de Servicio                     0
Hora requerida                        0
Solicita                              0
BL                                    0
SBL                                   0
Destino/Pozo                          0
Lts. Solicitados                      0
Economico                             0
Tipo de Unidad                        4
Clasificacion (Vehiculo/Equipo)      53
Tipo de medida Km/Hr               1154
Recibe en Pozo/usuario                0
Autorizante                           0
STATUS                              856
Zona                               3093
Ruta                               3453
Proveedor                             0
Eco Unidad Proveedor               3452
Operador                           3458
HR                                 7138
KM                                 7225
HR Llegada a Pozo                  3495
Tiempo de Retraso                  3486
Cant. Suministrada                    0
IEPS x LT                             0
Costo IEPS                            0
PRECIO POR LT                         0
Costo TOTAL SIN IEPS                  0
Costo Total + IEPS                    0
SWPS PO DIESEL                     5732
Gin Number                         1274
Recibe en Pozo/usuario.1           1276
TICKET                             3499
FLETE                              2338
SWPS PO FLETE                      7001
KM RECORRIDO                       2360
FLETE / MANIOBRA                      0
COSTO TOTAL                           0
CONCILIADO                          858
COORDINADOR                          93
COMENTARIOS                        6773
PERIODO                               0
Q                                     0
LOCATION                              0
SITE                                  0
dtype: int64

Registros duplicados en Consolidado Diesel 2021.xlsx: 138

Valores faltantes por columna en Consolidado Diesel 2022.xlsx:
FOLIO DORS                     0
Fuera de Tiempo             3838
Fecha de Solicitud          4154
Hora de Solicitud           2859
Fecha de Servicio              0
Hora requerida                 0
Solicita                      10
Business Line                  0
Sub Business Line              0
CCs                         1031
Destino/Pozo                   0
Lts. Solicitados               0
Economico                      0
Tipo de Unidad                17
Recibe en Pozo/usuario        11
Autorizante                    0
STATUS                         1
Zona                           1
Ruta                        4384
Proveedor                      1
Eco Unidad Proveedor        4361
Operador                    4379
HR Llegada a Pozo           1842
Tiempo de Retraso           2528
Cant. Suministrada             4
IEPS x LT                      0
Costo IEPS                     0
PRECIO POR LT                  2
Costo TOTAL SIN IEPS           0
Costo Total + IEPS             0
Gin Number                  1298
Recibe en Pozo/usuario.1     634
TICKET                      4395
FLETE                         16
KM RECORRIDO                   0
FLETE / MANIOBRA               0
COSTO TOTAL                    0
CONCILIADO                  1660
COORDINADOR                 3497
COMENTARIOS                 7919
PERIODO                        0
Q                              0
LOCATION                      21
SITE                           0
PO SAP FUEL                  200
PO SAP FLETE                6405
CORTES                        13
dtype: int64

Registros duplicados en Consolidado Diesel 2022.xlsx: 273

Valores faltantes por columna en Consolidado Diesel 2023.xlsx:
FOLIO DORS                     0
Fuera de Tiempo             4413
Fecha de Solicitud          4413
Hora de Solicitud           4413
Fecha de Servicio              0
Hora requerida                 0
Solicita                       4
Business Line                  0
Sub Business Line              0
CCs                          855
Destino/Pozo                   0
Lts. Solicitados               0
Economico                      0
Tipo de Unidad                12
Recibe en Pozo/usuario         4
Autorizante                    0
STATUS                         0
Zona                           0
Proveedor                      0
Eco Unidad Proveedor        4620
Operador                    4619
HR Llegada a Pozo           2645
Tiempo de Retraso           2647
Cant. Suministrada             1
IEPS x LT                      0
Costo IEPS                     0
PRECIO POR LT                  2
Costo TOTAL SIN IEPS           0
Costo Total + IEPS             0
Gin Number                   914
Recibe en Pozo/usuario.1     235
TICKET                       220
FLETE                       2322
KM RECORRIDO                2314
FLETE / MANIOBRA            2320
COSTO TOTAL                    0
CONCILIADO                  6256
COORDINADOR                 6282
COMENTARIOS                 8024
PERIODO                        0
Q                              0
LOCATION                       5
SITE                           0
PO SAP FUEL                   48
GR SAP FUEL                   47
GR IEPS                       47
PO SAP FLETE                6464
GR SAP FLETE                6463
CORTES                         5
dtype: int64

Registros duplicados en Consolidado Diesel 2023.xlsx: 41

Valores faltantes por columna en Consolidado Diesel 2024.xlsx:
FOLIO DORS                     0
Fuera de Tiempo             2329
Fecha de Solicitud          2329
Hora de Solicitud           2329
Fecha de Servicio              0
Hora requerida                 0
Solicita                       0
Business Line                  0
Sub Business Line              0
CCs                          535
Destino/Pozo                   0
Lts. Solicitados               0
Economico                      0
Tipo de Unidad                11
Recibe en Pozo/usuario         0
Autorizante                    0
STATUS                         0
Zona                           0
Proveedor                      4
Eco Unidad Proveedor        2389
Operador                    2385
HR Llegada a Pozo           2331
Tiempo de Retraso           2343
Cant. Suministrada             1
IEPS x LT                      0
Costo IEPS                     0
PRECIO POR LT                  0
Costo TOTAL SIN IEPS           0
Costo Total + IEPS             0
Gin Number                   589
Recibe en Pozo/usuario.1      58
TICKET                        57
FLETE                       2329
KM RECORRIDO                2344
FLETE / MANIOBRA            2329
COSTO TOTAL                    0
COMENTARIOS                 4070
PERIODO                        0
Q                              0
LOCATION                       0
SITE                           0
PO SAP FUEL                   45
GR SAP FUEL                   45
GR IEPS                       45
PO SAP FLETE                3952
GR SAP FLETE                3952
CORTES                         0
dtype: int64

Registros duplicados en Consolidado Diesel 2024.xlsx: 67

## Forma de los datasets

In [7]:
for nombre, df in datasets.items():
    print(df.columns)

Index(['FOLIO DORS', 'Fuera de Procedimiento', 'Fecha de Solicitud',
       'Hora de Solicitud', 'MEDIO', 'Fecha de Servicio', 'Hora requerida',
       'Solicita', 'Segm.', 'Celda', 'Destino/Pozo', 'Lts. Solicitados',
       'Economico', 'Tipo de Unidad', 'Clasificacion (Vehiculo/Equipo)',
       'Tipo de medida Km/Hr', 'Recibe en Pozo/usuario', 'Autorizante',
       'STATUS', 'Zona', 'Ruta', 'Proveedor', 'Eco Unidad Proveedor',
       'Operador', 'HR', 'KM', 'HR Llegada a Pozo', 'Tiempo de Retraso',
       'Cant. Sum.', 'PRECIO POR LT', 'COSTO DE SUMINISTRO', 'Gin Number',
       'Recibe en Pozo/usuario.1', 'TICKET', 'FLETE', 'KM RECORRIDO',
       'FLETE / MANIOBRA', 'COSTO TOTAL', 'CONCILIADO', 'COORDINADOR',
       'COMENTARIOS', 'PERIODO', 'Q', 'LOCATION', 'SITE'],
      dtype='object')
Index(['FOLIO DORS', 'Fuera de Tiempo', 'Fecha de Solicitud',
       'Hora de Solicitud', 'MEDIO', 'Fecha de Servicio', 'Hora requerida',
       'Solicita', 'BL', 'SBL', 'Destino/Pozo', 'Lts. Solicitados',
       'Economico', 'Tipo de Unidad', 'Clasificacion (Vehiculo/Equipo)',
       'Tipo de medida Km/Hr', 'Recibe en Pozo/usuario', 'Autorizante',
       'STATUS', 'Zona', 'Ruta', 'Proveedor', 'Eco Unidad Proveedor',
       'Operador', 'HR', 'KM', 'HR Llegada a Pozo', 'Tiempo de Retraso',
       'Cant. Suministrada', 'IEPS x LT', 'Costo IEPS', 'PRECIO POR LT',
       'Costo TOTAL SIN IEPS', 'Costo Total + IEPS', 'SWPS PO DIESEL',
       'Gin Number', 'Recibe en Pozo/usuario.1', 'TICKET', 'FLETE',
       'SWPS PO FLETE', 'KM RECORRIDO', 'FLETE / MANIOBRA', 'COSTO TOTAL',
       'CONCILIADO', 'COORDINADOR', 'COMENTARIOS', 'PERIODO', 'Q', 'LOCATION',
       'SITE'],
      dtype='object')
Index(['FOLIO DORS', 'Fuera de Tiempo', 'Fecha de Solicitud',
       'Hora de Solicitud', 'Fecha de Servicio', 'Hora requerida', 'Solicita',
       'Business Line', 'Sub Business Line', 'CCs', 'Destino/Pozo',
       'Lts. Solicitados', 'Economico', 'Tipo de Unidad',
       'Recibe en Pozo/usuario', 'Autorizante', 'STATUS', 'Zona', 'Ruta',
       'Proveedor', 'Eco Unidad Proveedor', 'Operador', 'HR Llegada a Pozo',
       'Tiempo de Retraso', 'Cant. Suministrada', 'IEPS x LT', 'Costo IEPS',
       'PRECIO POR LT', 'Costo TOTAL SIN IEPS', 'Costo Total + IEPS',
       'Gin Number', 'Recibe en Pozo/usuario.1', 'TICKET', 'FLETE',
       'KM RECORRIDO', 'FLETE / MANIOBRA', 'COSTO TOTAL', 'CONCILIADO',
       'COORDINADOR', 'COMENTARIOS', 'PERIODO', 'Q', 'LOCATION', 'SITE',
       'PO SAP FUEL', 'PO SAP FLETE', 'CORTES'],
      dtype='object')
Index(['FOLIO DORS', 'Fuera de Tiempo', 'Fecha de Solicitud',
       'Hora de Solicitud', 'Fecha de Servicio', 'Hora requerida', 'Solicita',
       'Business Line', 'Sub Business Line', 'CCs', 'Destino/Pozo',
       'Lts. Solicitados', 'Economico', 'Tipo de Unidad',
       'Recibe en Pozo/usuario', 'Autorizante', 'STATUS', 'Zona', 'Proveedor',
       'Eco Unidad Proveedor', 'Operador', 'HR Llegada a Pozo',
       'Tiempo de Retraso', 'Cant. Suministrada', 'IEPS x LT', 'Costo IEPS',
       'PRECIO POR LT', 'Costo TOTAL SIN IEPS', 'Costo Total + IEPS',
       'Gin Number', 'Recibe en Pozo/usuario.1', 'TICKET', 'FLETE',
       'KM RECORRIDO', 'FLETE / MANIOBRA', 'COSTO TOTAL', 'CONCILIADO',
       'COORDINADOR', 'COMENTARIOS', 'PERIODO', 'Q', 'LOCATION', 'SITE',
       'PO SAP FUEL', 'GR SAP FUEL', 'GR IEPS', 'PO SAP FLETE', 'GR SAP FLETE',
       'CORTES'],
      dtype='object')
Index(['FOLIO DORS', 'Fuera de Tiempo', 'Fecha de Solicitud',
       'Hora de Solicitud', 'Fecha de Servicio', 'Hora requerida', 'Solicita',
       'Business Line', 'Sub Business Line', 'CCs', 'Destino/Pozo',
       'Lts. Solicitados', 'Economico', 'Tipo de Unidad',
       'Recibe en Pozo/usuario', 'Autorizante', 'STATUS', 'Zona', 'Proveedor',
       'Eco Unidad Proveedor', 'Operador', 'HR Llegada a Pozo',
       'Tiempo de Retraso', 'Cant. Suministrada', 'IEPS x LT', 'Costo IEPS',
       'PRECIO POR LT', 'Costo TOTAL SIN IEPS', 'Costo Total + IEPS',
       'Gin Number', 'Recibe en Pozo/usuario.1', 'TICKET', 'FLETE',
       'KM RECORRIDO', 'FLETE / MANIOBRA', 'COSTO TOTAL', 'COMENTARIOS',
       'PERIODO', 'Q', 'LOCATION', 'SITE', 'PO SAP FUEL', 'GR SAP FUEL',
       'GR IEPS', 'PO SAP FLETE', 'GR SAP FLETE', 'CORTES'],
      dtype='object')

Filas y columnas de cada base de datos proporcionada

In [8]:
for nombre, df in datasets.items():
    print(df.shape)

(7025, 45)
(7307, 50)
(8256, 47)
(8257, 49)
(4156, 47)

Al tener un número distinto de columnas y nombres diferentes para ciertas columnas. Vamos a juntar el dataset en uno solo, estandarizando los nombres y la cantidad de columnas

In [9]:
#Código para mostrar las columnas con nombres iguales en los datasets
def columnas_iguales(datasets):
    #Obtener las columnas de cada dataset
    columnas = [set(df.columns) for df in datasets.values()]
    #Encontrar la intersección de columnas entre todos los datasets
    columnas_comunes = set.intersection(*columnas)
    #Convertir el conjunto a una lista y devolverla
    columnas_comunes = set(columnas_comunes)
    return list(columnas_comunes)

lista_columnas_comunes = columnas_iguales(datasets)
print("Columnas comunes en todos los datasets:")
print(lista_columnas_comunes)
print(f"El número de columnas comunes es:", len(lista_columnas_comunes))

Columnas comunes en todos los datasets:
['Q', 'KM RECORRIDO', 'FLETE / MANIOBRA', 'Economico', 'COSTO TOTAL', 'Recibe en Pozo/usuario.1', 'Destino/Pozo', 'HR Llegada a Pozo', 'COMENTARIOS', 'Proveedor', 'TICKET', 'Zona', 'Fecha de Servicio', 'Recibe en Pozo/usuario', 'SITE', 'Tiempo de Retraso', 'Gin Number', 'Fecha de Solicitud', 'Hora de Solicitud', 'Hora requerida', 'Autorizante', 'PRECIO POR LT', 'FLETE', 'PERIODO', 'Solicita', 'LOCATION', 'Lts. Solicitados', 'Tipo de Unidad', 'STATUS', 'Operador', 'Eco Unidad Proveedor', 'FOLIO DORS']
El número de columnas comunes es: 32

In [10]:
#Código para mostrar las columnas que no son iguales en los datasets
def columnas_diferentes(datasets):
    #Obtener las columnas de cada dataset
    columnas = [set(df.columns) for df in datasets.values()]
    #Encontrar la diferencia de columnas entre todos los datasets
    columnas_diferentes = set.union(*columnas) - set.intersection(*columnas)
    #Convertir el conjunto a una lista y devolverla
    return list(columnas_diferentes)

lista_columnas_diferentes = columnas_diferentes(datasets)
print("Columnas diferentes en los datasets:")
print(lista_columnas_diferentes)
print(f"El número de columnas diferentes es:", len(lista_columnas_diferentes))

Columnas diferentes en los datasets:
['Costo Total + IEPS', 'Segm.', 'KM', 'GR SAP FLETE', 'CORTES', 'COORDINADOR', 'SWPS PO DIESEL', 'HR', 'CCs', 'Cant. Sum.', 'Tipo de medida Km/Hr', 'GR SAP FUEL', 'Celda', 'MEDIO', 'COSTO DE SUMINISTRO', 'BL', 'Sub Business Line', 'Costo TOTAL SIN IEPS', 'PO SAP FLETE', 'Clasificacion (Vehiculo/Equipo)', 'GR IEPS', 'PO SAP FUEL', 'Ruta', 'CONCILIADO', 'Cant. Suministrada', 'Fuera de Procedimiento', 'Costo IEPS', 'IEPS x LT', 'Business Line', 'SBL', 'SWPS PO FLETE', 'Fuera de Tiempo']
El número de columnas diferentes es: 32

32 columnas iguales + 32 columnas diferentes no hace sentido, pero de esas 32 diferentes puede ser entre 2 datasets, entre todos, etc. puede que una columna esté presente en 3 datasets y en 1 no, así muchos casos.

In [11]:
#Comparar columnas iguales y distintas del dataset del 2024 vs 2023
def comparar_columnas(datasets, nombre1, nombre2):
    # Obtener las columnas de cada dataset
    columnas1 = set(datasets[nombre1].columns)
    columnas2 = set(datasets[nombre2].columns)
    
    # Comparar columnas
    iguales = columnas1.intersection(columnas2)
    diferentes = columnas1.symmetric_difference(columnas2)
    
    return iguales, diferentes

### Comparación 2024

In [12]:
#Comparación 2023 vs 2024
iguales, diferentes = comparar_columnas(datasets, 'Consolidado Diesel 2023.xlsx', 'Consolidado Diesel 2024.xlsx')
print("\nColumnas iguales entre los datasets:")
print(iguales)
print("\nColumnas diferentes entre los datasets:")
print(diferentes)

Columnas iguales entre los datasets:
{'Costo Total + IEPS', 'Q', 'FLETE / MANIOBRA', 'Economico', 'COSTO TOTAL', 'GR SAP FLETE', 'CORTES', 'Recibe en Pozo/usuario.1', 'Business Line', 'Destino/Pozo', 'HR Llegada a Pozo', 'COMENTARIOS', 'CCs', 'GR SAP FUEL', 'Proveedor', 'TICKET', 'Zona', 'Fecha de Servicio', 'Recibe en Pozo/usuario', 'SITE', 'Sub Business Line', 'FOLIO DORS', 'Tiempo de Retraso', 'Gin Number', 'Costo TOTAL SIN IEPS', 'Fecha de Solicitud', 'PO SAP FLETE', 'Hora de Solicitud', 'Hora requerida', 'Autorizante', 'PRECIO POR LT', 'PO SAP FUEL', 'FLETE', 'GR IEPS', 'PERIODO', 'Solicita', 'LOCATION', 'Lts. Solicitados', 'Cant. Suministrada', 'Tipo de Unidad', 'STATUS', 'Costo IEPS', 'IEPS x LT', 'Operador', 'Eco Unidad Proveedor', 'KM RECORRIDO', 'Fuera de Tiempo'}

Columnas diferentes entre los datasets:
{'COORDINADOR', 'CONCILIADO'}

In [14]:
#Comparacion 2022 vs 2024
iguales, diferentes = comparar_columnas(datasets, 'Consolidado Diesel 2022.xlsx', 'Consolidado Diesel 2024.xlsx')
print("\nColumnas iguales entre los datasets:")
print(iguales)
print("\nColumnas diferentes entre los datasets:")
print(diferentes)

Columnas iguales entre los datasets:
{'Costo Total + IEPS', 'Q', 'FLETE / MANIOBRA', 'Economico', 'COSTO TOTAL', 'CORTES', 'Recibe en Pozo/usuario.1', 'Business Line', 'Destino/Pozo', 'HR Llegada a Pozo', 'COMENTARIOS', 'CCs', 'Proveedor', 'TICKET', 'Zona', 'Fecha de Servicio', 'Recibe en Pozo/usuario', 'SITE', 'Sub Business Line', 'FOLIO DORS', 'Tiempo de Retraso', 'Gin Number', 'Costo TOTAL SIN IEPS', 'Fecha de Solicitud', 'PO SAP FLETE', 'Hora de Solicitud', 'Hora requerida', 'Autorizante', 'PRECIO POR LT', 'PO SAP FUEL', 'FLETE', 'PERIODO', 'Solicita', 'LOCATION', 'Lts. Solicitados', 'Cant. Suministrada', 'Tipo de Unidad', 'STATUS', 'Costo IEPS', 'IEPS x LT', 'Operador', 'Eco Unidad Proveedor', 'KM RECORRIDO', 'Fuera de Tiempo'}

Columnas diferentes entre los datasets:
{'GR SAP FLETE', 'COORDINADOR', 'GR SAP FUEL', 'GR IEPS', 'Ruta', 'CONCILIADO'}

In [15]:
#Comparacion 2021 vs 2024
iguales, diferentes = comparar_columnas(datasets, 'Consolidado Diesel 2021.xlsx', 'Consolidado Diesel 2024.xlsx')
print("\nColumnas iguales entre los datasets:")
print(iguales)
print("\nColumnas diferentes entre los datasets:")
print(diferentes)

Columnas iguales entre los datasets:
{'Costo Total + IEPS', 'Q', 'KM RECORRIDO', 'FLETE / MANIOBRA', 'Economico', 'COSTO TOTAL', 'Recibe en Pozo/usuario.1', 'Destino/Pozo', 'HR Llegada a Pozo', 'COMENTARIOS', 'Proveedor', 'TICKET', 'Zona', 'Fecha de Servicio', 'Recibe en Pozo/usuario', 'SITE', 'Tiempo de Retraso', 'Gin Number', 'Costo TOTAL SIN IEPS', 'Fecha de Solicitud', 'Hora de Solicitud', 'Hora requerida', 'Autorizante', 'PRECIO POR LT', 'FLETE', 'PERIODO', 'Solicita', 'LOCATION', 'Lts. Solicitados', 'Cant. Suministrada', 'Tipo de Unidad', 'STATUS', 'Costo IEPS', 'IEPS x LT', 'Operador', 'Eco Unidad Proveedor', 'FOLIO DORS', 'Fuera de Tiempo'}

Columnas diferentes entre los datasets:
{'KM', 'GR SAP FLETE', 'CORTES', 'COORDINADOR', 'SWPS PO DIESEL', 'HR', 'CCs', 'Tipo de medida Km/Hr', 'GR SAP FUEL', 'MEDIO', 'BL', 'Sub Business Line', 'PO SAP FLETE', 'Clasificacion (Vehiculo/Equipo)', 'PO SAP FUEL', 'GR IEPS', 'Ruta', 'CONCILIADO', 'Business Line', 'SBL', 'SWPS PO FLETE'}

In [16]:
#Comparacion 2020 vs 2024
iguales, diferentes = comparar_columnas(datasets, 'Consolidado Diesel 2020.xlsx', 'Consolidado Diesel 2024.xlsx')
print("\nColumnas iguales entre los datasets:")
print(iguales)
print("\nColumnas diferentes entre los datasets:")
print(diferentes)

Columnas iguales entre los datasets:
{'Q', 'FLETE / MANIOBRA', 'Economico', 'COSTO TOTAL', 'Recibe en Pozo/usuario.1', 'Destino/Pozo', 'HR Llegada a Pozo', 'COMENTARIOS', 'Proveedor', 'TICKET', 'Zona', 'Fecha de Servicio', 'Recibe en Pozo/usuario', 'SITE', 'Tiempo de Retraso', 'FOLIO DORS', 'Gin Number', 'Fecha de Solicitud', 'Hora de Solicitud', 'Hora requerida', 'Autorizante', 'PRECIO POR LT', 'FLETE', 'PERIODO', 'Solicita', 'LOCATION', 'Lts. Solicitados', 'Tipo de Unidad', 'STATUS', 'Operador', 'Eco Unidad Proveedor', 'KM RECORRIDO'}

Columnas diferentes entre los datasets:
{'Costo Total + IEPS', 'Segm.', 'KM', 'GR SAP FLETE', 'CORTES', 'COORDINADOR', 'HR', 'CCs', 'Tipo de medida Km/Hr', 'Cant. Sum.', 'GR SAP FUEL', 'Celda', 'MEDIO', 'COSTO DE SUMINISTRO', 'Sub Business Line', 'Costo TOTAL SIN IEPS', 'PO SAP FLETE', 'Clasificacion (Vehiculo/Equipo)', 'PO SAP FUEL', 'GR IEPS', 'Ruta', 'CONCILIADO', 'Cant. Suministrada', 'Fuera de Procedimiento', 'Costo IEPS', 'IEPS x LT', 'Business Line', 'Fuera de Tiempo'}

In [17]:
#Comparacion 2020 vs 2024
iguales, diferentes = comparar_columnas(datasets, 'Consolidado Diesel 2020.xlsx', 'Consolidado Diesel 2024.xlsx')
print("\nColumnas iguales entre los datasets:")
print(iguales)
print("\nColumnas diferentes entre los datasets:")
print(diferentes)

Columnas iguales entre los datasets:
{'Q', 'FLETE / MANIOBRA', 'Economico', 'COSTO TOTAL', 'Recibe en Pozo/usuario.1', 'Destino/Pozo', 'HR Llegada a Pozo', 'COMENTARIOS', 'Proveedor', 'TICKET', 'Zona', 'Fecha de Servicio', 'Recibe en Pozo/usuario', 'SITE', 'Tiempo de Retraso', 'FOLIO DORS', 'Gin Number', 'Fecha de Solicitud', 'Hora de Solicitud', 'Hora requerida', 'Autorizante', 'PRECIO POR LT', 'FLETE', 'PERIODO', 'Solicita', 'LOCATION', 'Lts. Solicitados', 'Tipo de Unidad', 'STATUS', 'Operador', 'Eco Unidad Proveedor', 'KM RECORRIDO'}

Columnas diferentes entre los datasets:
{'Costo Total + IEPS', 'Segm.', 'KM', 'GR SAP FLETE', 'CORTES', 'COORDINADOR', 'HR', 'CCs', 'Tipo de medida Km/Hr', 'Cant. Sum.', 'GR SAP FUEL', 'Celda', 'MEDIO', 'COSTO DE SUMINISTRO', 'Sub Business Line', 'Costo TOTAL SIN IEPS', 'PO SAP FLETE', 'Clasificacion (Vehiculo/Equipo)', 'PO SAP FUEL', 'GR IEPS', 'Ruta', 'CONCILIADO', 'Cant. Suministrada', 'Fuera de Procedimiento', 'Costo IEPS', 'IEPS x LT', 'Business Line', 'Fuera de Tiempo'}

### Comparación 2023

In [18]:
#Comparacion 2023 vs 2022
iguales, diferentes = comparar_columnas(datasets, 'Consolidado Diesel 2022.xlsx', 'Consolidado Diesel 2023.xlsx')
print("\nColumnas iguales entre los datasets:")
print(iguales)
print("\nColumnas diferentes entre los datasets:")
print(diferentes)

Columnas iguales entre los datasets:
{'Costo Total + IEPS', 'Q', 'FLETE / MANIOBRA', 'Economico', 'COSTO TOTAL', 'COORDINADOR', 'Recibe en Pozo/usuario.1', 'CORTES', 'Business Line', 'Destino/Pozo', 'HR Llegada a Pozo', 'COMENTARIOS', 'CCs', 'Proveedor', 'TICKET', 'Zona', 'Fecha de Servicio', 'Recibe en Pozo/usuario', 'SITE', 'Sub Business Line', 'FOLIO DORS', 'Tiempo de Retraso', 'Gin Number', 'Costo TOTAL SIN IEPS', 'Fecha de Solicitud', 'PO SAP FLETE', 'Hora de Solicitud', 'Hora requerida', 'Autorizante', 'PRECIO POR LT', 'PO SAP FUEL', 'FLETE', 'PERIODO', 'Solicita', 'CONCILIADO', 'LOCATION', 'Lts. Solicitados', 'Cant. Suministrada', 'Tipo de Unidad', 'STATUS', 'Costo IEPS', 'IEPS x LT', 'Operador', 'Eco Unidad Proveedor', 'KM RECORRIDO', 'Fuera de Tiempo'}

Columnas diferentes entre los datasets:
{'GR SAP FLETE', 'GR SAP FUEL', 'GR IEPS', 'Ruta'}

In [19]:
#Comparacion 2023 vs 2021
iguales, diferentes = comparar_columnas(datasets, 'Consolidado Diesel 2021.xlsx', 'Consolidado Diesel 2023.xlsx')
print("\nColumnas iguales entre los datasets:")
print(iguales)
print("\nColumnas diferentes entre los datasets:")
print(diferentes)

Columnas iguales entre los datasets:
{'Costo Total + IEPS', 'Q', 'KM RECORRIDO', 'FLETE / MANIOBRA', 'Economico', 'COSTO TOTAL', 'COORDINADOR', 'Recibe en Pozo/usuario.1', 'Destino/Pozo', 'HR Llegada a Pozo', 'COMENTARIOS', 'Proveedor', 'TICKET', 'Zona', 'Fecha de Servicio', 'Recibe en Pozo/usuario', 'SITE', 'Tiempo de Retraso', 'Gin Number', 'Costo TOTAL SIN IEPS', 'Fecha de Solicitud', 'Hora de Solicitud', 'Hora requerida', 'Autorizante', 'PRECIO POR LT', 'FLETE', 'PERIODO', 'Solicita', 'CONCILIADO', 'LOCATION', 'Lts. Solicitados', 'Cant. Suministrada', 'Tipo de Unidad', 'STATUS', 'Costo IEPS', 'IEPS x LT', 'Operador', 'Eco Unidad Proveedor', 'FOLIO DORS', 'Fuera de Tiempo'}

Columnas diferentes entre los datasets:
{'KM', 'GR SAP FLETE', 'CORTES', 'SWPS PO DIESEL', 'HR', 'CCs', 'Tipo de medida Km/Hr', 'GR SAP FUEL', 'MEDIO', 'BL', 'Sub Business Line', 'PO SAP FLETE', 'Clasificacion (Vehiculo/Equipo)', 'PO SAP FUEL', 'GR IEPS', 'Ruta', 'Business Line', 'SBL', 'SWPS PO FLETE'}

In [20]:
#Comparacion 2023 vs 2020
iguales, diferentes = comparar_columnas(datasets, 'Consolidado Diesel 2020.xlsx', 'Consolidado Diesel 2023.xlsx')
print("\nColumnas iguales entre los datasets:")
print(iguales)
print("\nColumnas diferentes entre los datasets:")
print(diferentes)

Columnas iguales entre los datasets:
{'Q', 'FLETE / MANIOBRA', 'Economico', 'COSTO TOTAL', 'COORDINADOR', 'Recibe en Pozo/usuario.1', 'Destino/Pozo', 'HR Llegada a Pozo', 'COMENTARIOS', 'Proveedor', 'TICKET', 'Zona', 'Fecha de Servicio', 'Recibe en Pozo/usuario', 'SITE', 'Tiempo de Retraso', 'FOLIO DORS', 'Gin Number', 'Fecha de Solicitud', 'Hora de Solicitud', 'Hora requerida', 'Autorizante', 'PRECIO POR LT', 'FLETE', 'PERIODO', 'Solicita', 'CONCILIADO', 'LOCATION', 'Lts. Solicitados', 'Tipo de Unidad', 'STATUS', 'Operador', 'Eco Unidad Proveedor', 'KM RECORRIDO'}

Columnas diferentes entre los datasets:
{'Costo Total + IEPS', 'Segm.', 'KM', 'GR SAP FLETE', 'CORTES', 'HR', 'CCs', 'Tipo de medida Km/Hr', 'Cant. Sum.', 'GR SAP FUEL', 'Celda', 'MEDIO', 'COSTO DE SUMINISTRO', 'Sub Business Line', 'Costo TOTAL SIN IEPS', 'PO SAP FLETE', 'Clasificacion (Vehiculo/Equipo)', 'PO SAP FUEL', 'GR IEPS', 'Ruta', 'Cant. Suministrada', 'Fuera de Procedimiento', 'Costo IEPS', 'IEPS x LT', 'Business Line', 'Fuera de Tiempo'}

### Comparación 2022

In [21]:
#Comparacion 2022 vs 2021
iguales, diferentes = comparar_columnas(datasets, 'Consolidado Diesel 2021.xlsx', 'Consolidado Diesel 2022.xlsx')
print("\nColumnas iguales entre los datasets:")
print(iguales)
print("\nColumnas diferentes entre los datasets:")
print(diferentes)

Columnas iguales entre los datasets:
{'Costo Total + IEPS', 'Q', 'KM RECORRIDO', 'FLETE / MANIOBRA', 'Economico', 'COSTO TOTAL', 'COORDINADOR', 'Recibe en Pozo/usuario.1', 'Destino/Pozo', 'HR Llegada a Pozo', 'COMENTARIOS', 'Proveedor', 'TICKET', 'Zona', 'Fecha de Servicio', 'Recibe en Pozo/usuario', 'SITE', 'Tiempo de Retraso', 'Gin Number', 'Costo TOTAL SIN IEPS', 'Fecha de Solicitud', 'Hora de Solicitud', 'Hora requerida', 'Autorizante', 'PRECIO POR LT', 'FLETE', 'PERIODO', 'Ruta', 'Solicita', 'CONCILIADO', 'LOCATION', 'Lts. Solicitados', 'Cant. Suministrada', 'Tipo de Unidad', 'STATUS', 'Costo IEPS', 'IEPS x LT', 'Operador', 'Eco Unidad Proveedor', 'FOLIO DORS', 'Fuera de Tiempo'}

Columnas diferentes entre los datasets:
{'KM', 'CORTES', 'SWPS PO DIESEL', 'HR', 'CCs', 'Tipo de medida Km/Hr', 'MEDIO', 'BL', 'Sub Business Line', 'PO SAP FLETE', 'Clasificacion (Vehiculo/Equipo)', 'PO SAP FUEL', 'Business Line', 'SBL', 'SWPS PO FLETE'}

In [22]:
#Comparacion 2022 vs 2020
iguales, diferentes = comparar_columnas(datasets, 'Consolidado Diesel 2020.xlsx', 'Consolidado Diesel 2022.xlsx')
print("\nColumnas iguales entre los datasets:")
print(iguales)
print("\nColumnas diferentes entre los datasets:")
print(diferentes)

Columnas iguales entre los datasets:
{'Q', 'FLETE / MANIOBRA', 'Economico', 'COSTO TOTAL', 'COORDINADOR', 'Recibe en Pozo/usuario.1', 'Destino/Pozo', 'HR Llegada a Pozo', 'COMENTARIOS', 'Proveedor', 'TICKET', 'Zona', 'Fecha de Servicio', 'Recibe en Pozo/usuario', 'SITE', 'Tiempo de Retraso', 'FOLIO DORS', 'Gin Number', 'Fecha de Solicitud', 'Hora de Solicitud', 'Hora requerida', 'Autorizante', 'PRECIO POR LT', 'FLETE', 'PERIODO', 'Ruta', 'Solicita', 'CONCILIADO', 'LOCATION', 'Lts. Solicitados', 'Tipo de Unidad', 'STATUS', 'Operador', 'Eco Unidad Proveedor', 'KM RECORRIDO'}

Columnas diferentes entre los datasets:
{'Costo Total + IEPS', 'Segm.', 'KM', 'CORTES', 'HR', 'CCs', 'Tipo de medida Km/Hr', 'Cant. Sum.', 'Celda', 'MEDIO', 'COSTO DE SUMINISTRO', 'Sub Business Line', 'Costo TOTAL SIN IEPS', 'PO SAP FLETE', 'Clasificacion (Vehiculo/Equipo)', 'PO SAP FUEL', 'Cant. Suministrada', 'Fuera de Procedimiento', 'Costo IEPS', 'IEPS x LT', 'Business Line', 'Fuera de Tiempo'}

### Comparación 2021

In [23]:
#Comparacion 2020 vs 2021
iguales, diferentes = comparar_columnas(datasets, 'Consolidado Diesel 2020.xlsx', 'Consolidado Diesel 2021.xlsx')
print("\nColumnas iguales entre los datasets:")
print(iguales)
print("\nColumnas diferentes entre los datasets:")
print(diferentes)

Columnas iguales entre los datasets:
{'Q', 'KM', 'FLETE / MANIOBRA', 'Economico', 'COSTO TOTAL', 'COORDINADOR', 'Recibe en Pozo/usuario.1', 'HR', 'Destino/Pozo', 'HR Llegada a Pozo', 'COMENTARIOS', 'Tipo de medida Km/Hr', 'Proveedor', 'TICKET', 'MEDIO', 'Zona', 'Fecha de Servicio', 'Recibe en Pozo/usuario', 'SITE', 'Tiempo de Retraso', 'FOLIO DORS', 'Gin Number', 'Fecha de Solicitud', 'Hora de Solicitud', 'Clasificacion (Vehiculo/Equipo)', 'Hora requerida', 'Autorizante', 'PRECIO POR LT', 'FLETE', 'PERIODO', 'Ruta', 'Solicita', 'CONCILIADO', 'LOCATION', 'Lts. Solicitados', 'Tipo de Unidad', 'STATUS', 'Operador', 'Eco Unidad Proveedor', 'KM RECORRIDO'}

Columnas diferentes entre los datasets:
{'Costo Total + IEPS', 'Segm.', 'SWPS PO DIESEL', 'Cant. Sum.', 'Celda', 'BL', 'COSTO DE SUMINISTRO', 'Costo TOTAL SIN IEPS', 'Cant. Suministrada', 'Fuera de Procedimiento', 'Costo IEPS', 'IEPS x LT', 'SBL', 'SWPS PO FLETE', 'Fuera de Tiempo'}

Hay columnas que se refieren a lo mismo pero tienen un nombre distinto.

**Equivalencias:**

'Sub Business Line' = 'SBL' 

'Business Line' = 'BL' 

'Fuera de Tiempo' = 'Fuera de Procedimiento'

'Cant. Suministrada' = Cant. Sum.

'KM' y 'HR' = 'Tipo de medida Km/Hr'

Por practicidad se decide descartar la base 2020 pues carece de columnas de interés como Costos con y sin IEPS, lts x ieps, entre otras.

In [24]:
# Renombrar columnas según las equivalencias
def renombrar_columnas(df, equivalencias):
    df.rename(columns=equivalencias, inplace=True)
    return df

# Diccionario de equivalencias para renombrar columnas
equivalencias_columnas = {
    'SBL': 'Sub Business Line',
    'BL': 'Business Line',
    'Fuera de Procedimiento': 'Fuera de Tiempo',
    'Cant. Sum.': 'Cant. Suministrada'
}

# Aplicar el renombrado a cada dataset
for nombre, df in datasets.items():
    datasets[nombre] = renombrar_columnas(df, equivalencias_columnas)

Probamos otra vez las columnas iguales y las distintas:

In [25]:
#Nueva colección de datasets sin considerar el dataset Consolidado Diesel 2020.xlsx
datasets_nuevo = {k: v for k, v in datasets.items() if k != 'Consolidado Diesel 2020.xlsx'}
print(datasets_nuevo.keys())

dict_keys(['Consolidado Diesel 2021.xlsx', 'Consolidado Diesel 2022.xlsx', 'Consolidado Diesel 2023.xlsx', 'Consolidado Diesel 2024.xlsx'])

In [26]:
lista_columnas_comunes = columnas_iguales(datasets_nuevo)
print("Columnas iguales: ")
print(lista_columnas_comunes)
print("Número de columnas iguales:", len(lista_columnas_comunes))
print("Columnas diferentes: ")
print(columnas_diferentes(datasets_nuevo))
print("Número de columnas diferentes:", len(columnas_diferentes(datasets_nuevo)))

Columnas iguales:
['Costo Total + IEPS', 'Q', 'KM RECORRIDO', 'FLETE / MANIOBRA', 'Economico', 'COSTO TOTAL', 'Recibe en Pozo/usuario.1', 'Business Line', 'Destino/Pozo', 'HR Llegada a Pozo', 'COMENTARIOS', 'Proveedor', 'TICKET', 'Zona', 'Fecha de Servicio', 'Recibe en Pozo/usuario', 'SITE', 'Sub Business Line', 'Tiempo de Retraso', 'Gin Number', 'Costo TOTAL SIN IEPS', 'Fecha de Solicitud', 'Hora de Solicitud', 'Hora requerida', 'Autorizante', 'PRECIO POR LT', 'FLETE', 'PERIODO', 'Solicita', 'LOCATION', 'Lts. Solicitados', 'Cant. Suministrada', 'Tipo de Unidad', 'STATUS', 'Costo IEPS', 'IEPS x LT', 'Operador', 'Eco Unidad Proveedor', 'FOLIO DORS', 'Fuera de Tiempo']
Número de columnas iguales: 40
Columnas diferentes:
['GR SAP FUEL', 'KM', 'MEDIO', 'PO SAP FLETE', 'GR SAP FLETE', 'Clasificacion (Vehiculo/Equipo)', 'CORTES', 'CONCILIADO', 'COORDINADOR', 'SWPS PO DIESEL', 'GR IEPS', 'HR', 'PO SAP FUEL', 'SWPS PO FLETE', 'Ruta', 'CCs', 'Tipo de medida Km/Hr']
Número de columnas diferentes: 17

In [27]:
#Para todos los datasets de datasetnuevo, se conservan solamente las columnas que aparecen en lista_columnas_comunes
for nombre, df in datasets_nuevo.items():
    datasets_nuevo[nombre] = df[lista_columnas_comunes]

In [28]:
#Contar numero de columnas de cada dataset
for nombre, df in datasets_nuevo.items():
    print(f"{nombre}: {df.shape[1]} columnas")

Consolidado Diesel 2021.xlsx: 40 columnas
Consolidado Diesel 2022.xlsx: 40 columnas
Consolidado Diesel 2023.xlsx: 40 columnas
Consolidado Diesel 2024.xlsx: 40 columnas

In [29]:
datasets_nuevo['Consolidado Diesel 2021.xlsx'].columns

Index(['Costo Total + IEPS', 'Q', 'KM RECORRIDO', 'FLETE / MANIOBRA',
       'Economico', 'COSTO TOTAL', 'Recibe en Pozo/usuario.1', 'Business Line',
       'Destino/Pozo', 'HR Llegada a Pozo', 'COMENTARIOS', 'Proveedor',
       'TICKET', 'Zona', 'Fecha de Servicio', 'Recibe en Pozo/usuario', 'SITE',
       'Sub Business Line', 'Tiempo de Retraso', 'Gin Number',
       'Costo TOTAL SIN IEPS', 'Fecha de Solicitud', 'Hora de Solicitud',
       'Hora requerida', 'Autorizante', 'PRECIO POR LT', 'FLETE', 'PERIODO',
       'Solicita', 'LOCATION', 'Lts. Solicitados', 'Cant. Suministrada',
       'Tipo de Unidad', 'STATUS', 'Costo IEPS', 'IEPS x LT', 'Operador',
       'Eco Unidad Proveedor', 'FOLIO DORS', 'Fuera de Tiempo'],
      dtype='object')

Como todos los registros de todos los datasets de datasets_nuevo contienen alguna fecha para 'Fecha de Servicio', no es necesario añadir otra columna con el año, pues apartir de esta columna se puede deducir a que fecha corresponde

In [30]:
# Crear un nuevo DataFrame para almacenar los datos combinados
combined_df = pd.DataFrame()
# Iterar sobre los DataFrames y concatenarlos
for nombre, df in datasets_nuevo.items():
    # Concatenar los DataFrames
    combined_df = pd.concat([combined_df, df], ignore_index=True)

## Análisis dataframe combinado

In [31]:
combined_df.shape

(27976, 40)

In [32]:
combined_df.head(5)

,Costo Total + IEPS,Q,KM RECORRIDO,FLETE / MANIOBRA,Economico,COSTO TOTAL,Recibe en Pozo/usuario.1,Business Line,Destino/Pozo,HR Llegada a Pozo,...,Lts. Solicitados,Cant. Suministrada,Tipo de Unidad,STATUS,Costo IEPS,IEPS x LT,Operador,Eco Unidad Proveedor,FOLIO DORS,Fuera de Tiempo
0,3696.903,Q1,NaN,0.0,2224-VH,3696.903,NaN,WCF,ESTACION DIESEL,NaN,...,350,212.1,QUINTA,NaN,0.0,0.0,NaN,NaN,DIE-020493,NaN
1,5734.470,Q1,NaN,0.0,386-PR,5734.470,NaN,WCF,ESTACION DIESEL,NaN,...,450,329.0,QUINTA,NaN,0.0,0.0,NaN,NaN,DIE-020494,NaN
2,3660.300,Q1,NaN,0.0,301-VH,3660.300,NaN,WCF,ESTACION DIESEL,NaN,...,230,210.0,PORTA SILOS,NaN,0.0,0.0,NaN,NaN,DIE-020495,NaN
3,1948.674,Q1,NaN,0.0,219-VH,1948.674,NaN,WCF,ESTACION DIESEL,NaN,...,200,111.8,RECIRCULADOR,NaN,0.0,0.0,NaN,NaN,DIE-020496,NaN
4,8713.257,Q1,NaN,0.0,SPF34313Y0007,8713.257,NaN,RPS,ESTACION DIESEL,NaN,...,500,499.9,SPF,NaN,0.0,0.0,NaN,NaN,DIE-020497,NaN

In [35]:
#Imprimir datatype de cada columna
print(combined_df.dtypes)

Costo Total + IEPS                 float64
Q                                   object
KM RECORRIDO                        object
FLETE / MANIOBRA                   float64
Economico                           object
COSTO TOTAL                        float64
Recibe en Pozo/usuario.1            object
Business Line                       object
Destino/Pozo                        object
HR Llegada a Pozo                   object
COMENTARIOS                         object
Proveedor                           object
TICKET                              object
Zona                                object
Fecha de Servicio           datetime64[ns]
Recibe en Pozo/usuario              object
SITE                                object
Sub Business Line                   object
Tiempo de Retraso                   object
Gin Number                          object
Costo TOTAL SIN IEPS               float64
Fecha de Solicitud          datetime64[ns]
Hora de Solicitud                   object
Hora requerida                      object
Autorizante                         object
PRECIO POR LT                      float64
FLETE                              float64
PERIODO                             object
Solicita                            object
LOCATION                            object
Lts. Solicitados                    object
Cant. Suministrada                 float64
Tipo de Unidad                      object
STATUS                              object
Costo IEPS                         float64
IEPS x LT                          float64
Operador                            object
Eco Unidad Proveedor                object
FOLIO DORS                          object
Fuera de Tiempo                     object
dtype: object

### Análisis de duplicados

Al combinar distintos datasets puede que haya registros duplicados

In [36]:
duplicados = combined_df[combined_df.duplicated()]
print(duplicados)

       Costo Total + IEPS   Q KM RECORRIDO  FLETE / MANIOBRA     Economico  \
311            13944.0000  Q1            0             480.0     GENERADOR
325                0.0000  Q1            0               0.0     GENERADOR
326                0.0000  Q1            0               0.0     GENERADOR
502             1811.2020  Q1          NaN               0.0  1017CR041047
506            12201.0000  Q1            0             420.0     GENERADOR
...                   ...  ..          ...               ...           ...
27783          10807.0590  Q4          0.0               0.0          TOTE
27802           2151.9288  Q4          0.0               0.0     LUMINARIA
27805           2161.4118  Q4          0.0               0.0     LUMINARIA
27953          10677.7490  Q4          0.0               0.0     GENERADOR
27957          16016.6235  Q4          0.0               0.0          TOTE

       COSTO TOTAL        Recibe en Pozo/usuario.1 Business Line  \
311     14424.0000                KARINA RODRIGUEZ           RPI
325         0.0000                             NaN           RPI
326         0.0000                             NaN           RPI
502      1811.2020                 ALFONSO PATRACA           RPI
506     12621.0000           ISAAC TROCHI ANGUIANO           RPI
...            ...                             ...           ...
27783   10807.0590              RICHARD BETANCOURT           RPI
27802    2151.9288    OSCAR ASDRUBAL ANCONA ROMERO          IGWC
27805    2161.4118    OSCAR ASDRUBAL ANCONA ROMERO          IGWC
27953   10677.7490  JOSE ANTONIO ESCALANTE SANCHEZ           RPI
27957   16016.6235                    WILLIAM OSSA           RPI

         Destino/Pozo HR Llegada a Pozo  ... Lts. Solicitados  \
311    BATERIA RABASA          14:00:00  ...              800
325    BATERIA RABASA          00:00:00  ...              850
326    BATERIA RABASA          00:00:00  ...              850
502         IXACHI 24          00:00:00  ...              100
506    BATERIA RABASA          07:00:00  ...              700
...               ...               ...  ...              ...
27783       JEP 1 EXP          00:00:00  ...              500
27802    IKLUM 1A EXP          12:30:00  ...              100
27805    IKLUM 1A EXP          08:40:00  ...              100
27953        PLATAO 4          10:03:00  ...              500
27957        PLATAO 4          10:30:00  ...              750

      Cant. Suministrada Tipo de Unidad    STATUS Costo IEPS IEPS x LT  \
311                800.0      GENERADOR   FINANCE     0.0000  0.000000
325                  0.0      GENERADOR  CANCELED     0.0000  0.000000
326                  0.0      GENERADOR  CANCELED     0.0000  0.000000
502                100.0      GENERADOR   FINANCE     0.0000  0.000000
506                700.0      GENERADOR   FINANCE     0.0000  0.000000
...                  ...            ...       ...        ...       ...
27783              500.0           TOTE   FINANCE   226.1790  0.452358
27802              100.0      LUMINARIA   FINANCE    45.2358  0.452358
27805              100.0      LUMINARIA   FINANCE    45.2358  0.452358
27953              500.0      GENERADOR   FINANCE   226.1790  0.452358
27957              750.0           TOTE   FINANCE   339.2685  0.452358

                             Operador Eco Unidad Proveedor FOLIO DORS  \
311    ALEJANDRO VELAZQUEZ DE LA CRUZ                 TO23    DI23716
325                               NaN                  NaN    DI23740
326                               NaN                  NaN    DI23740
502          JUAN LUIS VERA RODRIGUEZ                 T198    DI23811
506    ALEJANDRO VELAZQUEZ DE LA CRUZ                 TO23    DI23812
...                               ...                  ...        ...
27783            DIEGO VAZQUEZ TIQUET                 NT05    DI34889
27802         TORIBIO DE DIOS ALCUDIA                 NT03    DI34869
27805            DIEGO VAZQUEZ TIQUET                 NT03    DI34903
27953     LUCIANO HERNANDEZ DOMINGUEZ                 NT03    DI35021
27957     LUCIANO HERNANDEZ DOMINGUEZ                 NT03    DI35044

      Fuera de Tiempo
311                NO
325                NO
326                NO
502                NO
506                NO
...               ...
27783              NO
27802              NO
27805              NO
27953              NO
27957              NO

[529 rows x 40 columns]

In [37]:
combined_df = combined_df.drop_duplicates(keep='first')

In [38]:
combined_df.shape

(27447, 40)

## Análisis de datos nulos

In [39]:
verificacionValoresNulos('Dataset combinado', combined_df)

Valores faltantes por columna en Dataset combinado:
Costo Total + IEPS              0
Q                               0
KM RECORRIDO                 7017
FLETE / MANIOBRA             4649
Economico                       0
COSTO TOTAL                     0
Recibe en Pozo/usuario.1     2171
Business Line                   0
Destino/Pozo                    0
HR Llegada a Pozo           10240
COMENTARIOS                 26287
Proveedor                       5
TICKET                       8147
Zona                         3094
Fecha de Servicio               0
Recibe en Pozo/usuario         15
SITE                            0
Sub Business Line               0
Tiempo de Retraso           10932
Gin Number                   4037
Costo TOTAL SIN IEPS            0
Fecha de Solicitud          13989
Hora de Solicitud            9601
Hora requerida                  0
Autorizante                     0
PRECIO POR LT                   4
FLETE                        7005
PERIODO                         0
Solicita                       14
LOCATION                       25
Lts. Solicitados                0
Cant. Suministrada              6
Tipo de Unidad                 44
STATUS                        857
Costo IEPS                      0
IEPS x LT                       0
Operador                    14813
Eco Unidad Proveedor        14803
FOLIO DORS                      0
Fuera de Tiempo             13673
dtype: int64

Registros duplicados en Dataset combinado: 0

"Comentarios" no se requiere

checar similitud entre Recibe en Pozo/usuario         15 y Recibe en Pozo/usuario.1     2171

"COSTO TOTAL" = "FLETE / MANIOBRA" + "Costo Total + IEPS"

"Cant. Suministrada" * "IEPS x LT" = "Costo IEPS"

"Cant. Suministrada" * "PRECIO POR LT" = "Costo TOTAL SIN IEPS"

"Costo Total + IEPS" = "Costo TOTAL SIN IEPS" + "Costo IEPS"

"FLETE / MANIOBRA", "KM RECORRIDO","FLETE", "COSTO TOTAL","Costo Total + IEPS","Costo TOTAL SIN IEPS", "PRECIO POR LT","Costo IEPS","IEPS x LT","Cant. Suministrada", "Lts. Solicitados", hacen referencia a cantidades, por lo que la presencia de NaN en estas columnas muy probablemente son sinónimos de 0

In [44]:
#Funcion que muestra cuantos valores iguales hay entre los registros de un dataframe y dos columnas
def contar_iguales(df, col1, col2):
    return (df[col1] == df[col2]).sum()

In [ ]:
contar_iguales(combined_df, 'Recibe en Pozo/usuario', 'Recibe en Pozo/usuario.1')

np.int64(16351)

In [ ]:
#Eliminar las columnas que no son necesarias
combined_df = combined_df.drop(columns=['Recibe en Pozo/usuario.1'])

In [48]:
combined_df = combined_df.drop(columns=['COMENTARIOS'])

In [50]:
combined_df.shape

(27447, 38)

In [51]:
variables_numericas = ["FLETE / MANIOBRA", "KM RECORRIDO","FLETE", "COSTO TOTAL","Costo Total + IEPS","Costo TOTAL SIN IEPS", "PRECIO POR LT","Costo IEPS","IEPS x LT","Cant. Suministrada", "Lts. Solicitados"]

In [52]:
combined_df.head()

,Costo Total + IEPS,Q,KM RECORRIDO,FLETE / MANIOBRA,Economico,COSTO TOTAL,Business Line,Destino/Pozo,HR Llegada a Pozo,Proveedor,...,Lts. Solicitados,Cant. Suministrada,Tipo de Unidad,STATUS,Costo IEPS,IEPS x LT,Operador,Eco Unidad Proveedor,FOLIO DORS,Fuera de Tiempo
0,3696.903,Q1,NaN,0.0,2224-VH,3696.903,WCF,ESTACION DIESEL,NaN,TAGAL,...,350,212.1,QUINTA,NaN,0.0,0.0,NaN,NaN,DIE-020493,NaN
1,5734.470,Q1,NaN,0.0,386-PR,5734.470,WCF,ESTACION DIESEL,NaN,TAGAL,...,450,329.0,QUINTA,NaN,0.0,0.0,NaN,NaN,DIE-020494,NaN
2,3660.300,Q1,NaN,0.0,301-VH,3660.300,WCF,ESTACION DIESEL,NaN,TAGAL,...,230,210.0,PORTA SILOS,NaN,0.0,0.0,NaN,NaN,DIE-020495,NaN
3,1948.674,Q1,NaN,0.0,219-VH,1948.674,WCF,ESTACION DIESEL,NaN,TAGAL,...,200,111.8,RECIRCULADOR,NaN,0.0,0.0,NaN,NaN,DIE-020496,NaN
4,8713.257,Q1,NaN,0.0,SPF34313Y0007,8713.257,RPS,ESTACION DIESEL,NaN,TAGAL,...,500,499.9,SPF,NaN,0.0,0.0,NaN,NaN,DIE-020497,NaN

In [54]:
#checar que las variables numéricas son de tipo float
for var in variables_numericas:
    print(f"{var}: {combined_df[var].dtype}")

FLETE / MANIOBRA: float64
KM RECORRIDO: object
FLETE: float64
COSTO TOTAL: float64
Costo Total + IEPS: float64
Costo TOTAL SIN IEPS: float64
PRECIO POR LT: float64
Costo IEPS: float64
IEPS x LT: float64
Cant. Suministrada: float64
Lts. Solicitados: object

In [57]:
# Verificar y procesar las columnas numéricas
for col in variables_numericas:
    if col in combined_df.columns:
        # Reemplazar valores no deseados y convertir a float
        combined_df[col] = combined_df[col].replace([' ', '-', ''], 0)
        combined_df[col] = pd.to_numeric(combined_df[col], errors='coerce').fillna(0)
    else:
        print(f"Advertencia: La columna '{col}' no existe en combined_df.")

In [59]:
for var in variables_numericas:
    print(f"{var}: {combined_df[var].dtype}")

FLETE / MANIOBRA: float64
KM RECORRIDO: float64
FLETE: float64
COSTO TOTAL: float64
Costo Total + IEPS: float64
Costo TOTAL SIN IEPS: float64
PRECIO POR LT: float64
Costo IEPS: float64
IEPS x LT: float64
Cant. Suministrada: float64
Lts. Solicitados: float64

In [60]:
verificacionValoresNulos('Dataset combinado', combined_df)

Valores faltantes por columna en Dataset combinado:
Costo Total + IEPS            0
Q                             0
KM RECORRIDO                  0
FLETE / MANIOBRA              0
Economico                     0
COSTO TOTAL                   0
Business Line                 0
Destino/Pozo                  0
HR Llegada a Pozo         10240
Proveedor                     5
TICKET                     8147
Zona                       3094
Fecha de Servicio             0
Recibe en Pozo/usuario       15
SITE                          0
Sub Business Line             0
Tiempo de Retraso         10932
Gin Number                 4037
Costo TOTAL SIN IEPS          0
Fecha de Solicitud        13989
Hora de Solicitud          9601
Hora requerida                0
Autorizante                   0
PRECIO POR LT                 0
FLETE                         0
PERIODO                       0
Solicita                     14
LOCATION                     25
Lts. Solicitados              0
Cant. Suministrada            0
Tipo de Unidad               44
STATUS                      857
Costo IEPS                    0
IEPS x LT                     0
Operador                  14813
Eco Unidad Proveedor      14803
FOLIO DORS                    0
Fuera de Tiempo           13673
dtype: int64

Registros duplicados en Dataset combinado: 1

In [64]:
#De las variables que no son numéricas, checar  la cantidad de valores únicos
for col in combined_df.columns:
    if col not in variables_numericas:
        print(f"{col}: {combined_df[col].nunique()} valores únicos")

Q: 4 valores únicos
Economico: 772 valores únicos
Business Line: 15 valores únicos
Destino/Pozo: 579 valores únicos
HR Llegada a Pozo: 701 valores únicos
Proveedor: 6 valores únicos
TICKET: 13599 valores únicos
Zona: 30 valores únicos
Fecha de Servicio: 1464 valores únicos
Recibe en Pozo/usuario: 1180 valores únicos
SITE: 3 valores únicos
Sub Business Line: 34 valores únicos
Tiempo de Retraso: 1189 valores únicos
Gin Number: 826 valores únicos
Fecha de Solicitud: 1392 valores únicos
Hora de Solicitud: 989 valores únicos
Hora requerida: 711 valores únicos
Autorizante: 152 valores únicos
PERIODO: 12 valores únicos
Solicita: 859 valores únicos
LOCATION: 3 valores únicos
Tipo de Unidad: 108 valores únicos
STATUS: 3 valores únicos
Operador: 427 valores únicos
Eco Unidad Proveedor: 270 valores únicos
FOLIO DORS: 19713 valores únicos
Fuera de Tiempo: 2 valores únicos

Tanto GIN como Ticket parecen ser ciertos identificadores, por lo que no se les hará nada.

Por otro lado, a las columnas que les faltan muy pocos datos <100 se les imputará la moda

Practicamente la mitad de los datos de Operador y Eco Unidad Proveedor no se encuentran, sumado a la posible poca relevancia que tengan con el problema se procederán a eliminar.

Zona parece ser una zona que se puede imputar mediante moda tambien

STATUS es una variable un poco más cuidadosa, por el momento se va a dejar así

Solo queda trabajar con las variables que tienen NaN relacionadas con el tiempo *pendiente*

In [ ]:
combined_df = combined_df.drop(columns=['Operador', 'Eco Unidad Proveedor'])
combined_df.shape

(27447, 36)

In [66]:
combined_df['Proveedor'].fillna(combined_df['Proveedor'].mode()[0], inplace=True)
combined_df['Recibe en Pozo/usuario'].fillna(combined_df['Recibe en Pozo/usuario'].mode()[0], inplace=True)
combined_df['Solicita'].fillna(combined_df['Solicita'].mode()[0], inplace=True)
combined_df['LOCATION'].fillna(combined_df['LOCATION'].mode()[0], inplace=True)
combined_df['Tipo de Unidad'].fillna(combined_df['Tipo de Unidad'].mode()[0], inplace=True)

C:\Users\vcsalgado\AppData\Local\Temp\ipykernel_23432\1356695517.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined_df['Proveedor'].fillna(combined_df['Proveedor'].mode()[0], inplace=True)
C:\Users\vcsalgado\AppData\Local\Temp\ipykernel_23432\1356695517.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined_df['Recibe en Pozo/usuario'].fillna(combined_df['Recibe en Pozo/usuario'].mode()[0], inplace=True)
C:\Users\vcsalgado\AppData\Local\Temp\ipykernel_23432\1356695517.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined_df['Solicita'].fillna(combined_df['Solicita'].mode()[0], inplace=True)
C:\Users\vcsalgado\AppData\Local\Temp\ipykernel_23432\1356695517.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined_df['LOCATION'].fillna(combined_df['LOCATION'].mode()[0], inplace=True)
C:\Users\vcsalgado\AppData\Local\Temp\ipykernel_23432\1356695517.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined_df['Tipo de Unidad'].fillna(combined_df['Tipo de Unidad'].mode()[0], inplace=True)

In [67]:
verificacionValoresNulos('Dataset combinado', combined_df)

Valores faltantes por columna en Dataset combinado:
Costo Total + IEPS            0
Q                             0
KM RECORRIDO                  0
FLETE / MANIOBRA              0
Economico                     0
COSTO TOTAL                   0
Business Line                 0
Destino/Pozo                  0
HR Llegada a Pozo         10240
Proveedor                     0
TICKET                     8147
Zona                       3094
Fecha de Servicio             0
Recibe en Pozo/usuario        0
SITE                          0
Sub Business Line             0
Tiempo de Retraso         10932
Gin Number                 4037
Costo TOTAL SIN IEPS          0
Fecha de Solicitud        13989
Hora de Solicitud          9601
Hora requerida                0
Autorizante                   0
PRECIO POR LT                 0
FLETE                         0
PERIODO                       0
Solicita                      0
LOCATION                      0
Lts. Solicitados              0
Cant. Suministrada            0
Tipo de Unidad                0
STATUS                      857
Costo IEPS                    0
IEPS x LT                     0
FOLIO DORS                    0
Fuera de Tiempo           13673
dtype: int64

Registros duplicados en Dataset combinado: 2

In [68]:
#exportar a csv
combined_df.to_csv('dataset_combinado.csv', index=False)

In [69]:
#valores únicos que pueden tomar la variables que no son numéricas
for col in combined_df.columns:
    if col not in variables_numericas:
        print(f"{col}: {combined_df[col].unique()} valores únicos")

Q: ['Q1' 'Q2' 'Q3' 'Q4'] valores únicos
Economico: ['2224-VH' '386-PR' '301-VH' '219-VH' 'SPF34313Y0007' 33018 '2261-VH'
 '2228-VH' '177-VH' '2231-VH' '679-VH' '385-VH' 'AT19C02659' 33045
 'AT18C30553' 'WINGGIS' '486-VH' '667-VH' '650-VH' '129-VH' '2237-VH'
 '2233-VH' '2230-VH' '297-VH' '677-VH' '2225-VH' '467-PR' '127-VH'
 '115-VH' '135-VH' '109-VH' 'CPF37713A0170' '673-VH' '2232-VH' '2291-VH'
 33047 7 '2262-VH' '670-VH' '599-VH' '540-VH' '681-VH' '2240-VH' '2239-VH'
 '511-VH' 5 '380-VH' '465-VH' '2223-VH' '328-VH' '210-VH' '2236-VH'
 '211-VH' '2227-VH' 'TOTE' '680-VH' 'CBF85103Y0152' 33049 '232-VH'
 'GENW648040' '112-VH' '116-VH' 'SPS34318Y0512' '312-VH' '5845-VH'
 '165-VH' 'TANQUE ESTACIONARIO' 'SPF34313Y0008' '304-VH' 'GENERADOR'
 '174-VH' '788-VH' 'TUT-419-13-010' '848400-REY' '848404-REY' '2209-VH'
 '553-VH' '509-VH' 96400 '184-VH' '476-VH' '386-VH' 'CPF37710A0166'
 '297-PR' '2241-VH' '544J' 13 33048 '2235-VH' '502-VH' '5507-VH'
 'CUS81207B0143' 'F40200330' 'CPF37713C0389' '218-VH' '202-VH' '632-VH'
 '1578-PR' '1646-PR' '1608-PR' 'COMPRESOR' '175-VH' '311-VH' 'RXM1560'
 'BIDON' '664-VH' 'S-125' 'TRA4410180281' 'SPF74302F0269' '5508-VH'
 '7073-REY' 33057 '669-VH' 'CUS81201Y0258' 'CUS81214B0111' '516-PR'
 '467-VH' 'SPF34308A0024' '682-VH' '2229-VH' 'TRA44107F0931'
 'TRA40114D0046' 'CBF85107Y0319' '232-PR' 'C090904089' 'C090904086'
 'C100404299' '142B' '134B' '1017CR041047' '112B' 192 '2260-VH' '2234-VH'
 '676-VH' '2248-VH' '2250-VH' '370-VH' '369-VH' '1636-PR' '1643-PR'
 '1641-PR' '11351-REY' '11158-REY' '12006-REY' '1645-PR' '1638-PR'
 '5504-VH' '257-PR' '445-VH' '668-VH' 96200 '5101-VH' 'MPF33111Y1270'
 '377-VH' '6013-VH' 13003 '465-PR' 'CBF37713C0389' '1550-PR' '299-VH'
 '293-VH' '1658-PR' '1642-PR' 'F0001-REY' '468-VH' '1657-PR'
 'SPF74314A0063' '12002-REY' '2226-VH' '252-VH' '599-PR' 'SUF26107Y0928'
 '2238-VH' '675-VH' '674-VH' '584-VH' '367-PR' '579-VH' 'CPF37707Y0323'
 'SPF34398F0206' '479-VH' 'GBS591514Y0141' 'GBS95608B0183' '178-VH'
 '299-PR' 'GEN05' '1635-PR' '35843-REY' '393-VH' 3 'CUS81207B0144'
 'TRA41113D0047' 'CPF37709A0087' '407-VH' '2292-VH' '2275-VH'
 'CPF57300Y0404' 37 '5843-REY' '6025-REY' '587-PR' 'CBF85111A0463'
 'C080903533' 2 'TRA40113D0170' '482-VH' '103-VH' '490-VH' 2062 '385-PR'
 '678-VH' 'POSU-A-7107' '542-VH' 'C002008C' '2216-VH' 'CBF85107Y0312'
 '343-VH' '666-VH' '575-VH' 'CO02008C' 'SPF74307F1021' '379-VH'
 'SPF34306Y0059' 'SPF74311F1835' '474-VH' 'SPF74311F1710' 'SMF50611A0525'
 'SPF74312A0053' '580-PR' 'SBF21512A0203' 'CUS81213B0086' '587-VH'
 '582-PR' 'TUT41913D0701' '374-PR' 'TRA40102Y0148' '583-PR' '848408-REY'
 'SUS26400F0596' 'CTF21201F0680' 'SPF74310A0053' 'OSU-PA-7173' '5079-VH'
 1522 '401-REY' 1157 '550-VH' '110-VH' '187-VH' '277-PR' 'TRA40113D0191'
 'TRA40113D0171' '651-VH' 'CPF37709A0096' 'CUSB1213B0086' 648041
 'CBS75300Y0402' 'TUT41913010' '383-PR' 'MPF33113Y1278' '107-VH' '1478-VH'
 'OSUPSA7116' '279-PR' 'WP02001' '354-VH' 'COSUAA7173' 'J30U13005946'
 '9806-REY' 'IAT-119' '162-VH' 'CPF37707Y0321' 'CFF41404Y0311'
 'MPF33108Y0937' 'CPF37714A0193' '367-VH' '2261-vh' 'COSU-A-7116' '260-VH'
 '490-PR' '496-VH' 'SN-F40200330' 'CO020080' '321-VH' 'OSU-PA-7139'
 '331-VH' '191-VH' 'SPF74311F1876' '665-VH' '1551-PR' '389-VH' 1653
 '230-VH' '102-VH' '382-PR' 'MB-25' 'LUBRICADOR' '233-VH'
 '\tMPF33111Y1270' '171-VH' '1829-PR' 'J30U13005948' '1633-PR' '1644-PR'
 'MNGU-15' '1551-VH' '487-VH' 'SUS26400D0546' '615-VH' 'WSV-AUTOTANQUE'
 '803-VH' 'TUT419' 'SUT10613Y1241' '366-VH' 'WINGGINSWLC077039'
 'TRA40112F1553' 'TPT44913Y1285' 'TRA44108F1123' '487-PR' 8931997 8931438
 '91B' '258-VH' '11157-REY' '2204-VH' '289-VH' '1632-PR' 'J30U13005939'
 '342-VH' '132-VH' 'TRA40103Y0176' 'CPF37710A0162' 648040 '461-PR'
 'TRA40108Y0967' '370-PR' '172-VH' '375-VH' '296-VH' '658-VH' '325-VH'
 '318-VH' '4008-VH' 'CBF85115A0107' 'CBF5113A0086' 'OSUPA7173'
 'TRA40112Y1142' '461-VH' 'CTF21512Y0239' 'SPT34296F0072' '2245-VH'
 '382-VH' 'TRA44101Y0280' 'SMT50313Y1250' 'TUT-419-09002' '384-VH'
 'TUF3201300620' '170-VH' 'CUS81213Y0136' '250-VH' 'CBF85115A0106'
 '643-VH' '14004-REY' 'AT18330553' 4125 'DCE180' '101-VH' 'TF-8' 'TF-5'
 '454-VH' 212 '289-PR' 'L19' 'TRA40113D0047' '203-VH' 'SPF340840024'
 'WLC041005' 'DW54452602878' 'SPF74312A0054' 'SBF21511F1312'
 'CBF85113A0086' 3820 'CUS81296Y0082' '259-VH' 'POSU-A9139' '106-VH'
 'OSU-PA 7139' 'C08-09-03527' '173-VH' '431-VH' 'CUS81209F0893'
 'POSUAA9172' 'BP2' 1 '384-PR' 'MPF33111T1272' '266-VH' 'C080903522'
 '408-PR' '3016-REY' 'T18' '2281-VH' 'C080903519' '282-PR' 'J30U13005949'
 'C080903521' 'IAG-017' 258060511 3520 '387-PR' 'AT19C20311'
 'CTF414130525' '8561-REY' 'CPF37709A0088' 'TUT41913D0354' 'OSU-PA-7174'
 900538 '506-VH' 'SPF74311F1838' 'CPF73709A0088' 'TRA42909Y0197' '414-VH'
 89319997 'TORRE DE ILUMINACION' '217-VH' 'C08090352' 3097 'TRA40112F1531'
 '497-VH' 33176154 100 'ESG1187' 2805 'TRA40107Y0207' 'TRA40114D008'
 'TRA40114D0047' '433-VH' 'TRA40100Y0225' 'SPF74310A0083' 'P185WIR'
 'CUS81214028' 'TRA40109Y0207' 'PLANA 02' 'MB-20' '133-VH' '49B'
 'SPF34302F0269' 'CPF37711A0497' '280-PR' '438-VH' 17385 '489-PR' '597-PR'
 '388-PR' 8146 'S125' 'CUS81214B0112' 'TUT41914Y1447' 'MPF331'
 'TRA40103Y0177' 'SPF34300F0594' 'GGI0000930' 'TRA40107Y0939' 'MB25-REY'
 '3021-VH' 'E709' '334-VH' '401-PR' '478-REY' '401-PR\t' 'CT110A'
 'SBF62411F1340' '544H' 'TRA44107F1466' 'GEN-W-648041' 'GENW96900'
 '513-VH' '512-VH' '349-VH' 'C100404303' '167-VH' '12007-REY' '1634-PR'
 '667-REY' '3377-REY' '1016-REY' '362-VH' '504-VH' '510-REY' 185 '660-VH'
 2001 '408-VH' '276-VH' '190-VH' '1008-REY' '249-VH' 'SPS34309Z0075'
 '501-VH' '\tTUT41913010' '\t5650' 5650 '\tOSU-PA-7139' '441-VH' '388-VH'
 'C090904087' 'C090904090' 'EGM-1010' 'GAV690' 'SMF50614F0436'
 'SMF50611F0525' 'TRA44111F1268' '411-VH' 'CUS81213Y0135' 'CUS81214130112'
 '2295-VH' '3014-VH' 'MNGU-11' 5843 1506545 '195-VH' '183-VH' '378-VH'
 'C080903520' '186-VH' '659-VH' '208-VH' 'GENW96000' 'GEN-96900'
 'CTF41408Y0256' '600AJ' 'PLANTA DE LUZ' '300-REY' '160-VH' '131-VH'
 '275-VH' 'BP1' 96500 '7071-VH' 'SPS3430920074' 'SPF74305Y1121' '474-PR'
 '2201-VH' '516-pr' '269-PR' '182-VH' '2296-VH' '692-VH' '236-VH'
 '2298-VH' '2280-VH' 'C100404304' '124-VH' 'TANQUE DE LUBRICACION'
 '371-VH' '1629-PR' '8408-REY' 'SPF74301Y4395' 'SPF74301Y4396'
 'SPF74301F0629' 'SPF74302Y2375' 'W460YXL' '120FT' '641-VH' 'TPGL302'
 'TPGL304' '324-VH' '348-VER' '388-REY' '596-PR' '2200-VH' 'L305'
 'A0024-REY' '2293-VH' '2244-VH' 'MB21' 'TRA40109F0780' 'TPT44911Y1267'
 '1637-PR' '179-VH' 'SPS3410920076' 'SPS34311B0359' 33043 'SBS61409F0857'
 'MPS250' 'CBF5107Y0312' 13005898 'SUS03010F1122' '7070-VH' 'A0024-VH'
 '113B' 'MPF33113Y1277' '2203-VH' '194-VH' 'SPS34109Z0076' 'SPS3410920074'
 'MPF33111Y1263' 'TRV-61110F0527' 'CBF85109A0086' 'TRU61110F0527'
 'TRA43106F1252' '2217-VH' 'PUM001' 'GENW96500' '450-VH' '2805-VH'
 'SPF7411F1835' 'C002' '3021-REY' '480-VH' 'D722' 'CPF37709A0143' '158-VH'
 '1738-REY' '3125-VH' '283-VH' '114B' '2216-vh' '662-VH' 181
 'TPT44913D0551' 'TRA40113Y1238' '226-VH' 'PATIN' '2279-VH' '\t1506545'
 '2247-VH' 'CPT17911A0363' 1720094 '2252-VH' '577-PR' '8567-REY\t'
 '1647-PR' '1631-PR' 7039 '5844-VH' 'TRA40114D0050' 'GAV-690' 'AIS165'
 'MAQUINA DE SOLDAR' 'VF652' 2234 '164-VH' '262-VH' '261-VH' 'FD160'
 'DEG100' 2170809 'P-185' '5830-VH' 5825 '5102-VH' 'SPS34205D0091'
 'SUS0302370007' 'DW544H' '1007-REY' '444-VH' 'AT24C20077' '2202-VH'
 'SMF50614F1835' '7300 SWPT' '1639-PR' '8404-REY' 'TRA40108Y0330'
 '2238-vh' '328-vh' '2268-VH' 'CT1110A2' 'MPF33111Y1272' '876-VH'
 'TRA40112Y1134' 5103 '597-VH' 'TUT41913D0354\t' '1823-PR' 'CBF85110A0161'
 'SPS34309F0806' '1738-VH' '1640-PR' 156 'FD70Z' 'CLC-863' 13009617
 '516-VH' '223-VH' 'FD150L6PM' 5842 207 'DPM-MC' '224-VH' '86-PR'
 300001658 'TRA40114Y1462' 'TPGL303' '684-VH' 'DW544JZ602878' '475-VH'
 80020096 '559-VH' 'TRA40114Y1464' '2247-vh' '2255-VH' '381-VH' '464-VH'
 '2243-VH' 'CT-11-10A2' 'GENERADOR ' '3016-VH' 'DM392' 'TRA44101Y0281'
 '2251-VH' 'CBF85111A0162' 5856 'CBS95608B0183' 'DM117' 'TRU42114Y9628'
 5023 '231-VER' '108-VH' '294-VH' 'TRA40114Y1463' 'TRA44001Y0281' '649-VH'
 '510-VH' '7054-VH' 5859 '460-VH' 'LUMINARIA' 'SUS26400FU596'
 'CPF37710A0163' 'AT12B10746' 'B40700079' 84870 '673-vh' 'SM750614F0430'
 84869 'TUT41913D0545' 'CBF85114Y0078' '883-VH' 7116 '7010-REY' 407 5830
 135 '1550-VH' 'MPF3311481481' '5842-VH' 'AT28B70368' 'MPF3114Y1481'
 '394-VH' 'TRA40113Y1232' 'FD150' 'S125071647' 41015 '496-PR'
 '544HX587824' '369-PR' '1272-REY' 'S85' '2210-VH' '200-VH' '263-VH'
 '384-REY' 2028076 '264-VH' '8400-REY' '108-REY' '2207-VH' '290-VH'
 '460-PR' '673-REY'] valores únicos
Business Line: ['WCF' 'RPS' 'SBS' 'RPI' 'RPE' 'WCE' 'MM' 'WPRS' 'IGWC' 'WCM' 'SFP' 'MPS'
 'WCD' 'WVF' 'MSP'] valores únicos
Destino/Pozo: ['ESTACION DIESEL' 'CIBIX 1001' 'TUZANDEPENTL 205A' 'BELLOTA 1A'
 '5 PRESIDENTES 12' 'BATERIA RABASA' 'IXACHI 2001' 'QUESQUI 1DL'
 'ESCARBADO 4' 'IXACHI 24' 'TUPILCO 3001 EXP' 'VALERIANA 1' 'QUESQUI 3'
 'YUNQUE 1' 'POLVORIN DMS' 'PLANTA MI SWACO ESEASA'
 'PLANTA MI SWACO PARAISO' 'PIKIT 01 EXP' 'PLANTA MI SWACO CD DEL CARMEN'
 'PLANTA MI SWACO AEME' 'QUESQUI 3 DEL' 'QUESQUI 8' 'QUESQUI 34'
 'PLANTA MI SWACO REYNOSA' 'PLANTA MI SWACO COATZACOALCOS' 'QUESQUI 2DL'
 'BOXJU 1' 'VALERIANA 2 DEL' 'QUESQUI 3DEL' 'BASE PUERTO REAL' 'QUESQUI 1'
 'PIKIT 1 EXP' 'SPININI 01 EXP' 'SINI 14' 'SANTUARIO 403' 'AYOCOTE 10'
 'YAXJUT 1 EXP' 'KUSUM 1' 'PAME 1' 'BASE SLB POZA RICA' 'SOLDADOS 474D'
 'VALERIANA 2DEL' 'YAXJUT 1EXP' 'PIJIJE 32' 'JAMALEM 1' 'BELLOTA 1'
 'QUESQUI 2DEL' 'YAGUAL 104' 'BELLOTA 1 A' 'POLVORIN' 'TOKAL 7' 'CHAUK 1'
 'QUESQUI 2 DEL' 'MADREFIL 11' 'COMOAPA 3' 'TUM 1 EXP' 'TEOTLECO 207'
 'DZIMPONA' 'PUERTO PESQUERO' 'QUESQUI 1DEL' 'AYOCOTE 4' 'SEN 212'
 'PUERTO CEIBA 101' 'PARETO 11' 'QUESQUI 1 DL' 'KUUN 1 EXP'
 'CUNDUACAN 1027' 'VALERIANA 2DL' '5 PRESIDENTES 917'
 'PLANTA DE CEMENTOS CDC' 'BASE ADMINISTRATIVA' 'RODADOR 712'
 'DIECIOCHO DE MARZO 036 DEI' 'POLVORIN DSM' 'LAS PRIETAS 1 EXP'
 'AYOCOTE 1' 'SAMARIA 681' 'RACEMOSA 1' 'CACTUS 1057' 'JUJO 36A'
 'TERRA 101' 'RABASA 147' 'TAJON 2' 'VALERIANA 2D' 'RABASA 197'
 'BATERIA RABSA' 'RECOMOSA 1' 'PLANTA DE MEZCLAS DE POCHTECA'
 'OGARRIO 1325' 'YOLOX 1 EXP' 'QUESQU 3' 'OGARRIO 1521' 'SAMARIA 1081'
 'IXACHI 3' 'IRIDE 1124' '5 PRESIDENTES 43D' 'ITALMEX 24' 'RIMO 1 EXP'
 'RABASA 202' 'RABASA 102' 'RABASA 149' 'IXACHI 8' 'JECHEL 1 EXP'
 'TOKAL 2H' 'SOLDADOS 478' 'TEPAXTLI 1 EXP' 'SAMARIA 71' 'IXACHI 20'
 'MADREFIL 61' 'CHAWILA 1 EXP' 'MUELLE ESEASA' 'TEOTLECO 209'
 'SANCHEZ MAGALLANES 928' 'IXACHI 34' 'QUESQUI 1 DEL' 'IXACHI 10'
 'TUPILCO 3001' 'OGARRIO 1295' 'GRANADITAS 5' 'AGUA FRIA 1083'
 'CAMPAMENTO RANCHO LA J' 'GRANADITAS 106DL' 'MIGUEL HIDALGO 13'
 'GRANADITAS 106 DL' 'QUESSQUI 3' 'TUZANDEPENTL 205B' 'IXACHI 2'
 'IXACHI 1 DEL' 'IXACHI 1' 'QUESQUI 4 DL' 'MAXTU 1 EXP' 'PATRIOTA 4DES'
 'BASE RELESUR PARRILLA' 'CIBIX 14' 'CIBIX 20' 'SANCHEZ MAGALLANES 1039'
 'MIZTLI 1 EXP' 'OGARRIO 1484' 'OTATES 1' 'QUESQUI 4DL' 'OGARRIO 1480'
 'OGARRIO 1413' 'QIESQUI 1' 'BASE SLB REYNOSA' 'GRANADITAS 106 DEL'
 'PIPILA 5' 'QUESQUI 11' 'VALERIANA 4DL' 'VERNET 1001' 'OGARRIO 1304'
 'OGARRIO 1486' 'IXACHI 11' 'CHURINGO 1EXP' 'QUESQUI 6' 'OGARRIO 1423D'
 'FORCADO 101 EXPL' 'KAKIWIN 1 EXP' 'PLANTA MI SWACO PARAISO-HUASTECA'
 'CHURINGO 1 EXP' 'IXACHI 35' 'CUICHAPA 346' 'CIBIX 22' 'QUESQUI 21'
 'CIBIX 201 EXP' 'QUESQUI 4' 'TASKUYU 1 EXP' 'HUASTECA 1' 'TEOTLECO 210'
 'PLANTA DE CEMENTOS' 'TORRE EMPRESARIAL' 'NATZA 1 EXP' 'VALERIANA 1DEL'
 'QUESQUI 15' 'OGARRIO 1489' 'VALERIANA 1 DEL' 'QUESQUI 14'
 'VALERIANA 4DEL' 'VALERIANA 4' 'BASE SLB VERACRUZ' 'NATZA 1EXP'
 'XINICH 1 EXP' 'PASUKU 1 EXP' 'SOCHIAPAN 1' 'POPTE 1' 'KUUN 1EXP'
 'XINICH 1EXP' 'VALERIAN 2DEL' 'PLANTA MI SWACO MUELLE ESEASA'
 'PLANTA MI SWACO HUASTECA' 'QUESQUI 33' 'CIBIX 23' 'PASUKU 1'
 'ACTUL 1 EXP' 'OGARRIO 1526' 'CHEMOURS TEST WELL 1' 'SIKTE 1 EXP'
 'ACTUL 1' 'CIBIX 201' 'CIBIX 201 TCP' 'TAJON 103' 'TAJON 101'
 'OGARRIO 1431' 'QUESQUI 18' 'POZO 1' 'QUESQUI 38' 'CHUCOX 1 EXP'
 'SINI 13' 'OGARRIO 1452' 'TUPILCO 1DL' 'BASE ADMINISTRATIVA SLB'
 'SANTA AGUEDA 222' 'KITXKA 1 EXP' 'TUPILCO 3002' 'TUPILCO 3006'
 'CHUCHOX 1 EXP' 'OGARRIO 1294' 'OGARRIO 1205' 'SHALAPA 206'
 'CHAYA 1001 EXP' 'IXACHI 4' 'BATERIA PUERTO CEIBA' 'TUPLICO 3001 EXP'
 'SAKGSI 1 EXP' 'PIPILA 106 DEL' 'CHUYAN 1 EXP' 'SANTA AGUEDA 223'
 'CHAWILA 2DL' 'CHUYAN 1' 'SAMARIA 5199' 'TUPILCO 1 DEL' 'OGARRIO 1429'
 'NEJO 355' 'NEJO 318' 'CHAWILA 2 DEL' 'NEJO 197' 'NEJO 193' 'NEJO 370'
 'NEJO 337' 'NEJO 184' 'NEJO 392' 'NEJO 255' 'NEJO 103' 'TUPILCO 1 DL'
 'TUPILCO 1DEL' 'MORA 2' 'OGARRIO 911' 'OGARRIO 1296' 'QUESQUI 44'
 'CHUCOX 101 EXP' 'TORRE EMPRESARIAL VHSA' 'NEJO 164' 'NEJO 422'
 'NEJO 397' 'SINCLAIR EMPIRE 191' 'NEJO 420' 'NEJO 421' 'NEJO 106'
 'NEJO 429' 'NEJO 298' 'NEJO 310' 'INTERNACIONAL 106' 'NEJO 189'
 'NEJO 198' 'NEJO 45D' 'TAXTUNU 1 EXP' 'BASE ADMINISTRATIVA OFS'
 'OGARRIO 719' 'ASIKI 1' 'URHANI 1' 'OGARRIO 1435' 'NEJO 280'
 'ARCABUZ 438' 'NEJO 84' 'NEJO 262' 'NEJO 268' 'CHAWILA 2 DL' 'NEJO 416'
 'RANCHO LA J' 'MIQUETLA 17' 'SINCLAIR EMPIRE 338' 'NEJO 522' 'NEJO 827'
 'PALMA 4' 'MIQUETLA 34' 'NEJO 373' 'NEJO 183' 'NEJO 368' 'NEJO 408'
 'QUESQUI 48' 'QUESQUI 5' 'QUESQUI 49' 'OGARRIO 1283' 'QUESQUI 21 A'
 'TUPILCO 3008 EXP' 'OGARRIO 1603' 'CIBIX 401' 'NEJO 128' 'NEJO 248'
 'NEJO 826' 'NEJO 825' 'SINCLAIR EMPIRE 285' 'NEJO 829' 'NEJO 153'
 'TAXTUNU 1 DEL' 'NEJO 287' 'NEJO 307' 'NEJO 154' 'PALO BLANCO 8396'
 'NEJO 52' 'CACALILAO 4052' 'NEJO 254' 'ARAGON 564' 'NEJO 130'
 'MIQUETLA 1616' 'NEJO 239' 'YUBAN 1' 'QUESQUI 39' 'ARCABUZ 447'
 'QUESQUI 41' 'TUPILCO 3008' 'CHULUX 1' 'KELA 1 DL' 'PLATAO 1EXP'
 'QUESQUI 21A' 'BASE ADMINSITRATIVA' 'PLATAO 1 EXP' 'ACTANU 1 EXP'
 'NEJO 285' 'NEJO 412' 'NEJO 746' 'NEJO 135' 'CORONA 123' 'NEJO 172'
 'NEJO 458' 'NEJO 109' 'NEJO 220' 'NEJO 426H' 'NEJO 49D' 'KELA 1 EXP'
 'MIQUETLA 2078' 'NEJO 266' 'NEJO 288' 'CHAYA 1001' 'QUESQUI 17'
 'MIQUETLA 2128' 'YUBAN 1 EXP' 'SAMARIA 1187' 'IXACHI 9' 'TUPILCO 3007'
 'TUZANDEPENTL 205C' 'IRIDE 154' 'NAYU 1 EXP' 'XUNUT 1 EXP'
 'ALTAMIRA 1081' 'SLB POZA RICA' 'MIQUETLA 2128DES' 'NEJO 168'
 'MATLUK 1 EXP' 'NEJO 637' 'INFILL 7' 'MATLUK 1EXP' 'TUPILCO 3005'
 'OGARRIO 1471' 'YAMOC 1 EXP' 'NEJO 182' 'NEJO 296' 'NEJO 269' 'NEJO 205'
 'NEJO 369' 'BIAQUI 1 EXP' 'NEJO 324' 'NEJO 58D' 'ALTAMIRA 1113'
 'NEJO 311' 'NEJO 129' 'NEJO 131' 'GRANADITAS 9 DES' 'NEJO 132' 'NEJO 196'
 'NEJO 226' 'NEJO 32' 'NEJO 137' 'NEJO 208' 'ALTAMIRA 1116' 'NEJO 100'
 'NEJO 139' 'NEJO 126' 'CARDENAS 137' 'JUSPI 1007' 'SAMARIA 7128'
 'TIRIBISH 1 EXP' 'TUPILCO 1' 'XAMITL 1 EXP' 'NEJO 195' 'NEJO 132 // 168'
 'NEJO 258' 'NEJO 273' 'NEJO 790' 'NEJO 1' 'NEJO 2089'
 'RANCHO NUEVO 301 EXP' 'ZAPOTALILLO 201' 'NEJO 159' 'NEJO 59D'
 'NEJO 102D' 'NEJO 140D' 'IKLUM 1 EXP' 'SAMARIA 762' 'API PUERTO PESQUERO'
 'VERNET 1002' 'TOKAL 23' 'ALTAMIRA 1117' 'NEJO 322' 'MIQUETLA 2073'
 'NEJO 483' 'NEJO 181' 'NEJO 274' 'NEJO 31D' 'ALTAMIRA 1064'
 'MIQUETLA 2000 DES' 'NEJO  288' 'NEJO 463' 'NEJO 108D' 'ALTAMIRA 1110 D'
 'NEJO 210' 'IXACHI 30' 'TOKAL 1' 'OBBA 1 EXP' 'VERNET 1004' 'SINI 8'
 'BUSHEL 1 EXP' 'VERNET 1006' 'QUESQUI 36' 'MIQUETLA 2003' 'NEJO 788'
 'TAMIAHUA 401' 'KINCHIK 1 EXP' 'QUESQUI 403' 'QUESQUI 45'
 'VERNET 1005 EXP' 'CIBIX 31' 'SANTUARIO 501' 'IXACHI 27' 'CASTARRICAL 91'
 'QUESQUI 47' 'API PUERTO PESQUERO ' 'VERNET 1052' 'BASE PUERTO REAL '
 'IKLUM 1EXP' 'QUESQUI 420' 'IXACHI 36' 'VERNET 1051' 'QUESQUI 10'
 'RABASA 237' 'IXACHI 37' 'SANTUARIO 505' 'OGARRIO 1291' 'TREVINO 1EVA'
 'YAWA 1 EXP' 'ESCUINTLE 13' 'TUPILCO 132' 'ESCUINTLE 401' 'SANTUARIO 504'
 'SINI  8' 'MALAKI 1 EXP' 'SANTUARIO 513' 'MORA 24' 'QUEQUI 403'
 'QUESQUI 420 ' ' TLAKTOK 1 EXP' 'TREVINO 1 EVA' 'COAPECHACA 2880'
 'PAJTSU 1 EXP' 'CIBIX 4' 'TSULAKA 1 EXP' 'IKLUM 1 EXP ' 'SINI 1'
 'TINTAL 21D' 'AGUA NACIDA 111' 'PRESIDENTE ALEMAN 3758' 'ARCABUZ 449'
 'IKU 1 EXP' '5 PRESIDENTE 805' 'CHACTULU 1 EXP ' '5PRESIDENTE 805'
 'TUPILCO 3010' 'IKU 1 ESP' 'NEJO 316' 'NEJO 362' 'NEJO 382' 'NEJO 75'
 'SINATI 1 EXP' 'NEJO 141' 'NEJO 624' 'PLATAO 2 EXP' 'OGARRIO 1239'
 'WOMU 1 EXP' 'SINI 8 ' 'QUESQUI 35' 'QUESQUI 417' 'SHUKU 1EXP' 'NEJO 833'
 'NEJO 418' 'NEJO 768' 'TREVIÑO 1 EVA' 'NEJO 724' 'NEJO 767' 'NEJO 837'
 'NEJO 831' 'NEJO 334' 'NEJO 185' 'CHACTULU 1 EXP' 'TEPOZAN 4'
 'TUZANDEPETL 205C' 'IXACHI 12' 'QUESQUI 20' 'ESCUINTLE 413'
 'TUPILCO 3012' 'NEJO 336' 'TREVIÑO 1001' 'CAMAN 1 EXP' 'NEJO 162'
 'NEJO 359' 'NEJO 25' 'NEJO 270' 'LAKXTUM 1 EXP' 'SPININI 1 EXP'
 'LAKXTUM 1EXP' 'SKITI 1 EXP' 'QUESQUI 20A' 'IXACHI 43' 'CHACTULU 1EXP'
 'AMEYATL 1 EXP' 'XADANI 1 EXP' 'SAMARIA 7114' 'SAMARIA 757' 'TIJIB 1 EXP'
 'JUJO 13A' 'TECOMINOACAN 246' 'PENSION LAS AVES' 'NEJO 838' 'IXACHI 60'
 'KINKAN 1 EXP' 'PLATAO 4' 'SAMARIA 764' 'CIBIX 34' 'BRICOL 1' 'NEJO 840'
 'YAWA 101 EXP' 'IKLUM 1A' 'IXACHI 89' 'QUESQUI 7' 'TUPILCO 3004'
 'IXACHI 32' 'PUK 1 EXP' 'PLATAO 3 EXP' 'IKLUM 1A EXP' 'BASE ANTIGUA SLB'
 'SANTIAGO 101 EXP' 'QUESQUI 181' 'TALLER BROKEN ARROW' 'IXACHI 7'
 'TUPILCO 3015' 'PANKIWI 1 EXP' 'SINI 81' 'TUPILCO 134' 'CIBIX 37'
 'MAACHI 1 EXP' 'PLATAO 4 ' 'CIBIX 35' 'TECHIAKTLI 2' 'JEP 1 EXP'
 'MATA VIOLIN 3DEL' 'TECHIAKTLI 2 ' 'CHUCOX 111' 'PLATAO 3' 'QUESQUI 7A'
 'PARQUE LOGISTICO INDUSTRIAL TABASCO' 'BASE DE VERACRUZ'] valores únicos
HR Llegada a Pozo: [nan datetime.time(8, 40) datetime.time(12, 20) datetime.time(10, 30)
 datetime.time(13, 0) datetime.time(9, 0) datetime.time(0, 0)
 datetime.time(15, 30) datetime.time(7, 40) datetime.time(13, 20)
 datetime.time(13, 40) datetime.time(8, 6) datetime.time(11, 25)
 datetime.time(8, 50) datetime.time(11, 7) datetime.time(13, 50)
 datetime.time(8, 30) datetime.time(12, 40) datetime.time(9, 35)
 datetime.time(10, 15) datetime.time(11, 57) datetime.time(9, 6)
 datetime.time(13, 45) datetime.time(12, 45) datetime.time(12, 15)
 datetime.time(9, 16) datetime.time(9, 15) datetime.time(15, 0)
 datetime.time(12, 30) datetime.time(8, 0) datetime.time(16, 20)
 datetime.time(17, 0) datetime.time(14, 0) datetime.time(8, 12)
 datetime.time(10, 23) datetime.time(19, 0) datetime.time(11, 0)
 datetime.time(10, 0) datetime.time(8, 20) datetime.time(8, 15)
 datetime.time(23, 30) datetime.time(11, 40) datetime.time(7, 20)
 datetime.time(9, 30) datetime.time(12, 10) datetime.time(11, 10)
 datetime.time(15, 50) datetime.time(11, 30) datetime.time(18, 0)
 datetime.time(12, 0) datetime.time(16, 0) datetime.time(7, 10)
 datetime.time(10, 37) datetime.time(17, 20) datetime.time(11, 20)
 datetime.time(12, 50) datetime.time(13, 18) datetime.time(9, 20)
 datetime.time(11, 15) datetime.time(7, 0) datetime.time(7, 50)
 datetime.time(9, 55) datetime.time(12, 55) datetime.time(20, 0)
 datetime.time(8, 18) datetime.time(11, 11) datetime.time(10, 11)
 datetime.time(7, 45) datetime.time(19, 30) datetime.time(9, 50)
 datetime.time(11, 6) datetime.time(16, 45) datetime.time(13, 25)
 datetime.time(18, 57) datetime.time(9, 45) datetime.time(10, 40)
 datetime.time(9, 5) datetime.time(14, 45) datetime.time(12, 1)
 datetime.time(9, 10) datetime.time(17, 45) datetime.time(18, 30)
 datetime.time(10, 5) datetime.time(10, 50) datetime.time(10, 20)
 datetime.time(14, 39) datetime.time(14, 30) datetime.time(15, 37)
 datetime.time(1, 30) datetime.time(12, 35) datetime.time(7, 55)
 datetime.time(12, 14) datetime.time(9, 12) datetime.time(13, 30)
 datetime.time(11, 36) datetime.time(11, 50) datetime.time(17, 36)
 datetime.time(23, 59) datetime.time(18, 50) datetime.time(7, 30)
 datetime.time(13, 14) datetime.time(7, 35) datetime.time(15, 20)
 datetime.time(17, 10) datetime.time(11, 8) datetime.time(8, 45)
 datetime.time(13, 55) datetime.time(14, 50) datetime.time(7, 32)
 datetime.time(20, 13) datetime.time(16, 46) datetime.time(15, 40)
 datetime.time(8, 10) datetime.time(10, 14) datetime.time(10, 25)
 datetime.time(13, 10) datetime.time(8, 55) datetime.time(16, 25)
 datetime.time(11, 5) datetime.time(17, 40) datetime.time(17, 30)
 datetime.time(0, 58) datetime.time(3, 42) datetime.time(14, 25)
 datetime.time(13, 5) datetime.time(11, 52) datetime.time(16, 54)
 datetime.time(16, 5) datetime.time(14, 20) datetime.time(10, 9)